'scopeName': 'text.srltext'
'name': 'SRLText'
'injectionSelector': '*'
'patterns': [
  {
    'include': '#sel-begin'
  }
  {
    'include': '#list-begin'
  }
  {
    'match': '<<--(.+)-->>'
    'name': 'comment.block.srltext',
  }
  {
    'include': '#tag-double'
  }
]
'repository':
  'comment':
    'begin': '--'
    'end' :'--'
    'name': 'comment.line.srltext'
  'operator':
    'match': '&(A(PREFIX|SUFFIX)?|C|D|E(F|L)?([0-9]*)|F|G|HX?|L|M|N|P|Q|R|S(BLANK)?|U|V|W|X|#(ASCII|LATIN|UCAS|MD5|5|URL|BASE64|BASE64URL|SQL|AES|TDES|BLOWFISH|SSO|SSOREC)|%|@){1}'
    'name': 'keyword.control.amp.srltext'
  'slp-ref':
    'match': '@([A-Z0-9_.]+)'
    'name': 'entity.name.function.srltext'
  'variable-definition':
    'begin': '(#(?:[A-Z0-9_.]+))(=)'
    'beginCaptures':
      '1':
        'name': 'punctuation.definition.variable.srltext'
      '2':
        'name': 'keyword.operator.assignment.srltext'
    'end': '.'
    'patterns': [
      { 'include': '#tag-single' }
    ]
  'variable-ref':
    'match': '#([A-Z0-9_.]+)'
    'name': 'variable.other.srltext'
  'field-ref':
    'match': '([A-Z]{3,4}_[A-Z0-9]+)(?:(\\.)([A-Z0-9]+))?(?:(\\.)([A-Z]{3,10}))?'
    'captures':
      '1':
        'name': 'entity.name.tag.srltext'
      '2':
        'name': 'meta.delimiter.property.period.srltext'
      '3':
        'name': 'entity.name.tag.srltext'
      '4':
        'name': 'meta.delimiter.property.period.srltext'
      '5':
        'name': 'entity.name.tag.srltext'
  'special-register':
    'match': '\\$\\$?([a-zA-Z0-9_]+)'
    'name': 'keyword.control.register.srltext'
  'tag-double':
    'begin': '(<<)'
    'captures':
      '1':
        'name': 'punctuation.definition.tag.srltext'
    'end': '(>>)'
    'name': 'meta.tag.preprocessor.srltext'
    'patterns': [
      {
        'include': '#tag-single'
      }
      {
        'include': '#comment'
      }
      {
        'include': '#slp-ref'
      }
      {
        'include': '#variable-definition'
      }
      {
        'include': '#variable-ref'
      }
      {
        'include': '#field-ref'
      }
      {
        'include': '#operator'
      }
      {
        'include': '#special-register'
      }
      {
        'include': '#string'
      }
    ]
  'tag-single':
    'begin': '(<)'
    'end': '(>)'
    'name': 'meta.tag.preprocessor.srltext'
    'patterns': [
      {
        'include': '#operator'
      }
      {
        'include': '#comment'
      }
      {
        'include': '#slp-ref'
      }
      {
        'include': '#variable-definition'
      }
      {
        'include': '#variable-ref'
      }
      {
        'include': '#field-ref'
      }
      {
        'include': '#special-register'
      }
      {
        'include': '#string'
      }
    ],
  'string':
    'begin': '"'
    'end': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.srltext'
    'name': 'punctuation.definition.string.end.srltext'
    'endCaptures':
      '0':
        'name': 'string.quoted.double.srltext'
    'patterns': [
      {'include': '#tag-double'}
      {'include': '#tag-single'}
    ]
  'conditionals':
   'patterns': [
     {
       'include': '#tag-double'
     }
     {
       'include': '#string'
     }
   ]
  'sel-begin':
    'begin': '\\{\\{(--(?:.*)--)?(SEL):\\(?'
    'end': '\\)?:'
    'beginCaptures':
      '1':
        'name': 'comment.line.srltext'
      '2':
        'name': 'keyword.control.srltext'
    'patterns': [
      {
        'include': '#conditionals'
      }
    ]
  'list-begin':
    'begin': '\\[\\[(([A-Z0-9]+)\\.([A-Z0-9]+)):'
    'end': '\\]\\]'
    'beginCaptures':
      '1':
        'name': 'meta.tag.preprocessor.srltext'
    'patterns': [
      {
        'begin': '(SEL):'
        'end': ':'
        'beginCaptures':
          '1':
            'name': 'keyword.control.srltext'
        'patterns': [
          {
            'include': '#conditionals'
          }
        ]
      }
      {
        'include': '#tag-double'
      }
    ]
