'scopeName': 'text.html.sits'
'name': 'SITS'
'injectionSelector': 'text.html'
'patterns': [
  {
    'include': '#sel-begin'
  }
  {
    'include': '#list-begin'
  }
  {
    'match': '<<--(.+)-->>'
    'name': 'comment.block.sits',
  }
  {
    'include': '#tag-double'
  }
]
'repository':
  'comment':
    'begin': '--'
    'end' :'--'
    'name': 'comment.line.sits'
  'operator':
    'match': '&(A(PREFIX|SUFFIX)?|C|D|E(F|L)?|F|G|HX?|L|M|N|P|Q|R|S(BLANK)?|U|V|W|X|#(ASCII|LATIN|UCAS|MD5|5|URL|BASE64|BASE64URL|SQL|AES|TDES|BLOWFISH|SSO|SSOREC)|%|@){1}'
    'name': 'keyword.control.amp.sits'
  'slp-ref':
    'match': '@([A-Z0-9_.]+)'
    'name': 'entity.name.function.sits'
  'variable-definition':
    'match': '(#(?:[A-Z0-9_.]+))(=)'
    'captures':
      '1':
        'name': 'punctuation.definition.variable.sits'
      '2':
        'name': 'keyword.operator.assignment.sits'
  'variable-ref':
    'match': '#([A-Z0-9_.]+)'
    'name': 'variable.other.sits'
  'field-ref':
    'match': '([A-Z]{3}_[A-Z0-9]+)(\\.[A-Z0-9]+)?(\\.[A-Z]{3,10})?'
    'name': 'entity.name.tag.sits'
  'tag-double':
    'begin': '(<<)'
    'captures':
      '1':
        'name': 'punctuation.definition.tag.sits'
    'end': '(>>)'
    'name': 'meta.tag.preprocessor.sits'
    'patterns': [
      {
        'include': '#comment'
      }
      {
        'include': '#slp-ref'
      }
      {
        'include': '#variable-definition'
      }
      {
        'include': '#variable-ref'
      }
      {
        'include': '#field-ref'
      }
      {
        'include': '#operator'
      }
    ]
  'tag-single':
    'begin': '(<)'
    'end': '(>)'
    'name': 'meta.tag.preprocessor.sits'
    'patterns': [
      {
        'include': '#operator'
      }
      {
        'include': '#comment'
      }
      {
        'include': '#slp-ref'
      }
      {
        'include': '#variable-definition'
      }
      {
        'include': '#variable-ref'
      }
      {
        'include': '#field-ref'
      }
    ],
  'string':
    'begin': '"'
    'end': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.sits'
    'name': 'punctuation.definition.string.end.sits'
    'endCaptures':
      '0':
        'name': 'string.quoted.double.sits'
    'patterns': [
      {'include': '#tag-double'}
    ]
  'conditionals':
   'patterns': [
     {
       'include': '#tag-double'
     }
     {
       'include': '#string'
     }
   ]
  'sel-begin':
    'begin': '\\{\\{(SEL):\\(?'
    'end': '\\)?:'
    'beginCaptures':
      '1':
        'name': 'keyword.control.sits'
    'patterns': [
      {
        'include': '#conditionals'
      }
    ]
  'list-begin':
    'begin': '\\[\\[(([A-Z0-9]+)\\.([A-Z0-9]+)):'
    'end': '\\]\\]'
    'beginCaptures':
      '1':
        'name': 'meta.tag.preprocessor.sits'
    'patterns': [
      {
        'begin': '(SEL):'
        'end': ':'
        'beginCaptures':
          '1':
            'name': 'keyword.control.sits'
        'patterns': [
          {
            'include': '#conditionals'
          }
        ]
      }
      {
        'include': '#tag-double'
      }
    ]
