# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-text-editor':
  'escape ;': 'atom-sits:escape-semicolon'
  'escape |': 'atom-sits:escape-pipe'
  'escape &': 'atom-sits:escape-ampersand'
  'escape <': 'atom-sits:escape-lt'
  'escape >': 'atom-sits:escape-gt'
  'escape =': 'atom-sits:escape-equals'
  'escape *': 'atom-sits:escape-asterisk'
  'escape !': 'atom-sits:escape-exclamation'
